* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: row;
  margin: auto;
}

input,
button {
  justify-content: space-between;
  margin-top: 10px;
}

input {
  padding: 2px;
}

.search-input {
  height: 50px;
  font-size: 20px;
  padding: 5px, 10px;
  margin: auto;
  border-radius: 5px;
}

button {
  background-color: #c40013;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 5%;
}

button:hover {
  background-color: red;
  cursor: pointer;
}
